<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />

    <title>Cryptography</title>
  </head>
  <body>
    <form style="margin-top: -150px">
      <h1>Головна</h1>

      <nav>
        <ul>
          <li><a href="/caesar">Шифр Цезаря</a></li>
          <li><a href="/findKey">Знайти ключ</a></li>
          <li><a href="/vigenere">Vigenere Decryption</a></li>
          <li><a href="/sdes">S-Des</a></li>
        </ul>
      </nav>
    </form>
  </body>
</html>
