<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Encrypt / Decrypt</title>
  </head>
  <body>
    <h1>Encrypt / Decrypt</h1>
    
    <nav>
      <ul>
        <li><a href="/">Головна</a></li>
        <li><a href="/caesar">Шифр Цезаря</a></li>
        <li><a href="/findKey">Знайти ключ</a></li>
        <li><a href="/vigenere">Vigenere Decryption</a></li>
      </ul>
    </nav>

    <form action="/encryptDecrypt" method="post" form id="SDesPostForm">
      <label for="message">Message:</label><br />
      <input type="text" id="message" name="message" /><br />
      <label for="key">Key:</label><br />
      <input type="text" id="key" name="key" /><br /><br />
      <button type="submit">Submit</button>
    </form>
    <form>
      <h2>Results:</h2>
      <p id="binaryKey"></p>
      <p id="encryptedBinaryText"></p>
      <p id="cipherText"></p>
      <p id="decryptedBinaryText"></p>
      <p id="decryptedText"></p>
    </form>
    <script>
      // Скрипт для відправки POST-запиту та отримання результату
      document
        .getElementById("SDesPostForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const form = event.target;
          const formData = new FormData(form);

          const message = formData.get("message");
          const key = formData.get("key");

          fetch("/encryptDecrypt", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              message: message,
              key: key,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data.key);
              document.getElementById("binaryKey").textContent =
                "YOUR BINARY ENCODED KEY: " + data.binaryKey;
              document.getElementById("encryptedBinaryText").textContent =
                "ENCRYPTED BINARY TEXT: " + data.encryptedBinaryText;
              document.getElementById("cipherText").textContent =
                "CIPHERTEXT: " + data.cipherText;
              document.getElementById("decryptedBinaryText").textContent =
                "DECRYPTED BINARY TEXT: " + data.decryptedBinaryText;
              document.getElementById("decryptedText").textContent =
                "DECRYPTED TEXT: " + data.decryptedText;
            })
            .catch((error) => console.error("Error:", error));
        });
    </script>
  </body>
</html>
